extends layout
block content
  h1#title= title
  p Welcome to #{title}
  a(href="http://localhost:3000/auth/google") Test Google
  br
  br
  input(type='file', name='files[]', data-url='/upload', multiple, id='input-files')
  button#send-file(onclick='javascript:sendFile();') Send

