doctype html
html(lang="")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascript/lib/require/require.js')
    script(src='/javascript/socket.js',data-main='javascript/index')
  body
    block content
