doctype html
html(lang="")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet", href='/stylesheets/material-design-color-palette.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Work+Sans:400,400italic,700,700italic|Sanchez:400,400italic&subset=latin,latin-ext',rel='stylesheet',type='text/css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascript/socket.js')
		script(src='/javascript/lib/jquery/jquery.min.js')
		script(src='/javascript/lib/bootstrap/bootstrap.js')
		script(src='/javascript/lib/require/require.js',data-main='javascript/index')
	body
		.container-fluid(style="min-height:100%")
			.row(style="min-height:100%")
				#navbar(style="padding:0").col-xs-12.col-sm-12.col-md-10.col-md-push-1
				.col-xs-12.col-sm-12.col-md-10.col-md-push-1
					#content.col-xs-12.col-sm-8.col-sm-push-4.col-md-8.col-md-push-4.col-lg-9.col-lg-push-3
						block content
					#tree.col-xs-12.col-sm-4.col-sm-pull-8.col-md-4.col-md-pull-8.col-lg-3.col-lg-pull-9
