doctype html
html(lang="")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascript/lib/require/require.js')
    script(src='javascript/socket.js',data-main='javascript/index')
  body
    block content
