<style>
	.note-title {
		border: none;
		border-bottom: 1px solid black;
		font-size: 1.75em;
		padding: 0.25em 0.25em 0.5em 0.5em;
		width: 100%;
		//text-decoration: underline;
		display: block;
	}
	.note-tags {
		border: none;
		border-bottom: 1px solid black;
		font-size: 1.5em;
		padding: 0.25em 0.25em 0.5em 0.5em;
		width: 100%;
		display: block;
		margin-bottom: 1em;
	}
	input::placeholder {
		font-style: italic;
		color: grey;
	}
	input::-moz-placeholder {
		font-style: italic;
		color: grey;
	}
	input::-webkit-placeholder {
		font-style: italic;
		color: grey;
	}
	input::-ms-placeholder {
		font-style: italic;
		color: grey;
	}
	.note-content {
		border: none;
		border-left: 1px solid grey;
		border-bottom: 1px solid grey;
		resize: none;
		margin-top: 2em;
		font-size: 1.1em;
	}
	.note-formatting {
		margin-top: 2em;
		text-align: end;
	}
	.note-format-icon {
		width: 70%;
		height: auto;
		display: inline-block;
		font-size: 2em;
		text-align: end;
	}
	.note-format-icon .btn {
		color: white;
		background-color: black;
		width: 100%;
		margin-left: 0%;
	}

	.new-note-metadata {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	.note-submit {
		height: 2em;
		margin: 1em;
		border-radius: 2em;
		overflow: hidden;
	}

	.note-save, .note-discard {
		border: none;
		height: 100%;
		padding: 0;
		margin: 0;
	}

	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */

	/* Small devices (tablets, 768px and up) */
	@media (min-width: 768px) {
		.note-title {
			width: 75%;
		}
		.note-format-icon {
			width: 100%;
		}
		.note-tags {
			width: 100%;
		}
		.note-content {
			font-size: 1.2em;
		}
		.note-submit {
			border: none;
			border-radius: 0;
			height: 4em;
			margin-top: 2em;
		}

		.note-save, .note-discard {
			border-radius: 4em;
			overflow: hidden;
		}
	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 1024px) {
		.note-format-icon {
			width: 70%;
			margin-left: 30%;
		}
		.note-tags {
			width: 48%;
		}
		.note-content {
			font-size: 1.25em;
		}
	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width:1200px) {
		.note-format-icon {
			width: 60%;
			margin-left: 40%;
		}
		.note-tags {
			width: 48%;
		}
		.note-content {
			font-size: 1.35em;
		}
	}

	@media (min-width:1500px) {
		.note-format-icon {
			width: 40%;
			margin-left: 60%;
		}
		.note-content {
			font-size: 1.5em;
		}
	}
</style>
<form name="new-note">
	<input class="note-title" placeholder="note title" name="title"/>
	<div class="row">
		<div class="note-formatting col-xs-2 col-sm-1">
			<div class="note-format-icon">
				<button class="btn btn-sm"><i class="fa fa-bold"></i></button>
			</div>
			<div class="note-format-icon">
				<button class="btn btn-sm"><i class="fa fa-italic"></i></button>
			</div>
			<div class="note-format-icon">
				<button class="btn btn-sm"><i class="fa fa-underline"></i></button>
			</div>
			<div class="note-format-icon">
				<button class="btn btn-sm"><i class="fa fa-list-ul"></i></button>
			</div>
			<div class="note-format-icon">
				<button class="btn btn-sm"><i class="fa fa-list-ol"></i></button>
			</div>
			<div class="note-format-icon">
				<button class="btn btn-sm"><i class="fa fa-paperclip"></i></button>
			</div>
		</div>
		<textarea class="col-xs-10 col-sm-11 note-content" placeholder="in class today, the quick brown fox jumped over the lazy dog." rows="20">{{post.content}}</textarea>
	</div>
	<div class="new-note-metadata">
		<div class="row">
			<div style="padding-left:0; padding-right:0" class="col-xs-push-1 col-sm-push-1 col-xs-11 col-sm-11">
				<input class="note-tags" placeholder="#tags"
			</div>
		</div>
		<div class="row">
			<div style="padding-right:0" class="row col-xs-11 col-xs-push-1 col-sm-11 col-sm-push-1">
				<div class="col-xs-12 col-sm-6">
					<h4>section</h4>
					<div id="class-tree"></div>
				</div>
				<div style="padding-right:0" class="col-xs-12 col-sm-6">
					<h4>topic</h4>
					<div id="section-tree"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row note-submit">
		<button class="col-xs-6 col-sm-push-5 col-sm-3 col-md-push-7 col-md-2 col-lg-push-9 col-lg-1 mdc-bg-red note-discard">
			<i class="fa fa-lg fa-times mdc-text-grey-200"></i>
		</buttton>
		<button class="col-xs-6 col-sm-push-6 col-sm-3 col-md-push-8 col-md-2 col-lg-push-10 col-lg-1 mdc-bg-green note-save">
			<i class="fa fa-lg fa-check mdc-text-grey-200"></i>
		</button>
	</div>
</form>
