<style>
	.post-comments {
		padding: 2.5% 2.5% 5% 0;
		margin-top: 1em;
		border: none;
		border-top: solid 1px black;
	}
	.post-date {
		padding-left: 0.5em;
		padding-bottom: 1em;
		font-size: 16px;
		color: gray;
		font-weight: 300;
	}
	.post-content {
		font-size: 18px;
		line-height: 1.58;
		letter-spacing: -.003em;
		font-family: Georgia, Cambria, "Times New Roman", serif;
		font-weight: 400;
		word-wrap: break-word;
	}
	.comment {
		padding: 1% 1% 1% 2.5%;
	}
	.comment-author {
		font-weight: 700;
	}
	.comment-date {
		color: gray;
		font-weight: lighter;
	}
	.new-comment {
		transition: all 0.25s;
		margin: 1em;
		padding: 1em;
		width: 100%;
		border: none;
		border-bottom: 1px solid black;
		font-size: 16px;
		resize: none;
	}
	.new-comment:hover, .new-comment:active, .new-comment:focus {
		border: none;
		border-bottom: 1px solid rgba(0,0,0,0.32);
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12);
	}
	.post-meta-row {
		margin: 2em 0 0;
		padding: 0;
	}
	.post-tags {
		padding: 0;
		margin: 0;
	}
	.post-rating {
		text-align: right;
	}
	.post-rating button {
		display: inline;
		font-size: 1.5em;
	}
	.upvote {
		background-color: white;
		color: green;
		border: none;
		border-bottom: 1px solid;
	}
	.upvote:hover, .upvote:active, .upvote:visited  {
		color: white;
		background-color: green;
		border: none;
	}
	.downvote {
		background-color: white;
		color: red;
		border: none;
		border-bottom: 1px solid;
	}
	.downvote:hover, .downvote:active, .downvote:visited {
		color: white;
		background-color: red;
		border: none;
	}
</style>

{{# post }}
	<div class="page-header post-title">
		<h1> {{ title }} </h1>
	</div>
	<div class="post-date">
		Posted {{ postedOn }}
	</div>
	<p class="post-content">
		{{#htmlFormat}}
			{{ content }}
		{{/htmlFormat}}
	</p>
	<div class="row post-meta-row">
		<div class="post-tags col-xs-12 col-sm-12 col-md-8">
			<div id="{{_id}}-tags"></div>
		</div>
		<div class="post-star col-xs-6 col-sm-6 col-md-2">

		</div>
		<div class="post-rating col-xs-6 cols-sm-6 col-md-2">
			{{ upvotes }}
			<button class="upvote"><i class="fa fa-arrow-up"></i></button>
			<button class="downvote"><i class="fa fa-arrow-down"></i></button>
		</div>
	</div>
	<div class="post-comments">
		<h4><b>comments</b></h4>
	{{# comments}}
		<div class="comment">
			<div class="comment-author">
				{{user}}
				<span class="comment-date"><i>{{date}}</i></span>
			</div>
			<div class="comment-body">{{content}}</div>
		</div>
	{{/ comments}}
		<textarea class="new-comment" rows="2"  placeholder="comment on this note"></textarea>
	</div>
&nbsp;
{{/ post }}
