<style type="text/css">
	.title {
		font-size: 40px;
	}
	.professor{
		color: Navy;
		font-size:20px;
	}
</style>

<div>
	<!-- insert nav bar on top -->
	{{# section }}
	<h1 class="title primary-text-color">{{title}} </h1>
	<h2 class = "professor">{{professor}}</h2>
	<ul>
	{{# mostRecentLecture }}
		<li><a href="#/lecture/{{_id}}">{{ title }}</a></li>
		<div class="list-group">
		{{# posts }}
		<a href="#/lecture/{{_id}}" class="list-group-item">{{ title }}</a>
		{{/ posts }}
	</div>
	{{/ mostRecentLecture }}
	</ul>

	<!-- And also link to archived notes belonging to this class ???? -->
	<div class="list-group">
	{{# lectures }}
		<a href="#/lecture/{{_id}}" class="list-group-item">{{ title }}</a>
	{{/ lectures }}
	</div>

{{/ section }}
</div>
