<style type="text/css">
	.title {
		font-size: 40px;
	}
	.professor{
		color: black;
	}
</style>

<div>
	<!-- insert nav bar on top -->
	{{# section }}
	<div class="page-header divider-color">
		<h1 class="title primary-text-color">{{title}} </h1>
	</div>
	<h4 class = "professor">Professor: {{professor}}</h4>

	{{# mostRecentLecture }}
		<h4 class = "professor"> Most Recent Lecture: <a href="#/lecture/{{_id}}">{{ title }}</a> </h4>
		<div class="list-group">
		{{# posts }}
			<a href="#/post/{{_id}}" class="list-group-item">{{ title }}</a>
		{{/ posts }}
		</div>
	{{/ mostRecentLecture }}

	<!-- And also link to archived notes belonging to this class ???? -->
	<h4> All Lectures </h4>
	<div class="list-group">
	{{# lectures }}
		<a href="#/lecture/{{_id}}" class="list-group-item">{{ title }}</a>
	{{/ lectures }}
	</div>

{{/ section }}
</div>
