<style>
	.navTree {
		margin-top: 0em;
		padding-top: 4px;
	}
	#tree::-webkit-scrollbar {
    display: none;
	}
	.tree-list {
	}
	.tree-list-item {
		display: inline-block;
		padding-right: 1em;
		font-size: 1.5em;
		width: 100%;
		border: none;
	}
	.children .tree-list-item {
		font-size: 1.25em;
	}
	.tree-list-node {
		margin-top: 0em;
		padding: 0.5em 0;
		cursor: pointer;
	}
	.tree-list-node.child {
		padding: 0.5em 0.25em;
	}
	.tree-list-node:last-child {
		border:none;
	}
	.tree-list-node:hover {
		background: rgba(66,66,66,0.1);
	}
	.tree-list-node i {
		margin-left: .75em;
	}
	.tree-list-item-text {
		margin-left: 0.5em;
		text-decoration: none;
	}
	.tree-list-item-text.lecture {
		width: 80%;
		display: inline-block;
	}
	.badges.lecture {
		width: 15%;
		text-align: right;
		display: inline-block;
	}
	.tree-list-node .children {
		padding-left: 2em;
		display: none;
	}
	.tree-filter input {
		font-size: 1.5em;
		background-color: rgba(0,0,0,0);
		width: 100%;
		padding: 0.25em 0.25em 0.5em 0.5em;
		/*margin-right: 1em;*/
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	.tree-filter input::placeholder {
		font-style: italic;
		color: grey;
	}
	.tree-filter input::-moz-placeholder {
		font-style: italic;
		color: grey;
	}
	.tree-filter input::-webkit-placeholder {
		font-style: italic;
		color: grey;
	}
	.tree-filter input::-ms-placeholder {
		font-style: italic;
		color: grey;
	}
</style>
<div class="tree-list navTree">
	<!-- Filter  -->
	<div class="tree-filter ">
		<input type="text" class="divider-color" placeholder="filter"/>
	</div>
	<!-- To display TreeList of Classes (sub:section) -->
	{{# class }}
	<div class="tree-list-node parent">
		<a class="tree-list-item primary-text-color divider-color" data-id="{{ _id }}">
		<i class="fa fa-plus-square-o "></i>
			<span class="tree-list-item-text">{{course_code}} {{title}} <span class="badge"></span></span>
		</a>
		<div class="children">
			{{#sections}}
			<div class="tree-list-node child">
				<a class="tree-list-item secondary-text-color divider-color" href="#/section/{{ _id }}" data-id="{{ _id }}">
					<span class="tree-list-item-text">{{ section_code }} {{ title }} <span class="badge"></span></span>
				</a>
			</div>
			{{/sections}}
		</div>
	</div>
	{{/ class}}

	<!-- To display TreeList of Sections (sub: lecture) -->
	{{# section }}
	<div class="tree-list-node parent">
		<a class="tree-list-item divider-color primary-text-color" data-id="{{ _id }}">
			<i class="fa fa-plus-square-o"></i>
			<span class="tree-list-item-text">{{section_code}} {{title}} <span class="badge"></span></span>
		</a>
		<div class="children">
			{{# lectures }}
			<div class="tree-list-node child">
				<a class="tree-list-item divider-color secondary-text-color" href="#/lecture/{{ _id }}" data-id="{{ _id }}">
					<span class="tree-list-item-text lecture">{{ title }}</span>
					<div class="badges lecture"><span class="badge">{{ posts.length }}</span></div>
				</a>
			</div>
			{{/ lectures }}
		</div>
	</div>
	{{/ section}}

</div>
<script>
	// $(function () {
		// Expanding and contracting functionality for tree nodes
		// $('.tree-list-node.parent').click( function(e) {
		// 	var icon = $(this).children("i"); // This is the + or - expand icon
		// 	if (icon.is('.expanded')) {
		// 		// If icon was clicked and is expanded, change to a + and contract
		// 		icon.removeClass("fa-minus-square-o").addClass('fa-plus-square-o');
		// 		$(this).find(".children").hide();
		// 	} else {
		// 		// If icon was clicked and is contracted, change to a - and expand
		// 		icon.removeClass("fa-plus-square-o").addClass('fa-minus-square-o');
		// 		$(this).find(".children").show();
		// 	}
		// 	icon.toggleClass("expanded");
		// });

		// Filtering
	// 	$('.tree-filter input').keyup(function() {
	// 		var $input = $(this);
	// 		console.log("input", $input.val());
	// 		$('.tree-list-node.parent').each(function() {
	// 			var contains = RegExp($input.val(), 'i');
	// 			var i = contains.test($(this).children(".tree-list-item").text());
	// 			var j = contains.test($(this).children(".tree-list-node .tree-list-item").text());
	// 			if ( i || j ) {
	// 				$(this).show();
	// 			} else {
	// 				$(this).hide();
	// 			}
	// 		});
	// 	});
	// });
</script>
